<body>
<div class="slantedDivA ">
  
      <p style ="text-align:center"><i class="material-icons large ">wrap_text</i></p>
      <h3 style ="text-align:center;font-family:'Satisfy', cursive;font-size:60px ;">Words Up!</h3>
      <h6 style ="text-align:center">Not a dictionary..</h6>
     
   
  
</div>
<div class="banner-section">
    <div class="row">
        <div class="col m4 offset-m2">
          <div class="card grad">
            <div class="card-content center">
              <i class="material-icons">format_align_center</i> <span class="card-title">Create a document</span>
              <p class="center">Want to write a poem but cant find the perfect rhyming word?Your story is great in your mind, but not in text?<br/>
                Need to write an official document but can find the appropiate words? <span style ="font-family:'Satisfy', cursive; font-size: 20px;">Words Up!</span> is here to assist you like a human..
              </p>
            </div>
            <div class="card-action center">
              <a routerLink="/doc">Click to start a new document</a>
             
            </div>
          </div>
        </div>
        <div class="col m4">
            <div class="card grad">
              <div class="card-content center">
                <i class="material-icons">youtube_searched_for</i> <span class="card-title">Know your word</span>
                <p>Came across a new word? <br/> Know more than just antonyms and synonyms about it.
                  <span style ="font-family:'Satisfy', cursive; font-size: 20px;">Words Up!</span> will answers more questions about the word than you will have..

                </p>
                <br/>
              </div>
              <div class="card-action center">
                <a href="/word">Click to search for a word</a>
               
              </div>
            </div>
          </div>
      </div>
                
</div>



</body>
